# Gaussian Avatar related
gaussian_avatar/gaussian-splatting/
gaussian_avatar/data/
gaussian_avatar/baselines/
gaussian_avatar/smpl/
*output*

# Audio2Motion related
audio2motion/baselines/
audio2motion/data/
audio2motion/datasets/beat_cache/

# output images
gaussian_avatar/test_images/

# Python related
__pycache__/
*.pyc
*.pth

# System files
.DS_Store

# Output directories
checkpoints/
logs/
wandb/
output/
output_2/
results/

# IDE related
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.swp

# All files in others, for now
others/

